body{
    height: inherit;
}
.main-container{
    position: relative;
}
.info-container{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; */
}
.text-bold{
    font-weight: bold;
    font-size: 20px;;
}
.info-font{
    font-size: 24px;
}
.nav-container{
    position: fixed;
    bottom: 0;
    width: 90%;
}
.height-inherit{
    height: inherit;
}
.vertically-center{
    padding: 50% 0;
    text-align:center;
}
.position-relative{
    position: relative;
}