<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>২০২০ রোজার সময়সুচিতে স্বাগতম</title>
    <script type=" text/javascript" charset="utf-8" src="cordova.js"></script>
    <link rel="stylesheet" href="./css/material.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body class="blue-grey darken-1">
    <div id="app">
        <!-- top navigation bar -->
        <nav>
            <div class="nav-wrapper">
                <div class="right" id="app-intro">
                    <span class="text-bold">২০২০ রোজার সময়সুচিতে স্বাগতম</span>
                </div>
                <div class="left">
                    <span class="text-menu" v-on:click="openSideNav()">&#9776;</span>
                </div>
            </div>
        </nav>
        <!-- information container -->
        <div class="main-container">
            <div class="info-container center info-font white-text">
                <div class="container position-relative">
                    <!-- home component -->
                    <home-component v-if="activeRoute == 'home'"></home-component>
                    <!-- taraih component -->
                    <keep-alive>
                        <tarabih-component v-if="activeRoute == 'tarabih'"></tarabih-component>
                    </keep-alive>
                    <!-- </keep-alive> -->
                    <keep-alive>
                        <allduah-component v-if="activeRoute == 'allduah'"></allduah-component>
                    </keep-alive>

                </div>
            </div>
        </div>
        <!-- bottom navigarion bar -->
        <nav class="mobile-bottom-nav">
            <div class="mobile-bottom-nav__item"
                v-bind:class="{ 'mobile-bottom-nav__item--active': (activeRoute == 'home') }">
                <div class="mobile-bottom-nav__item-content" v-on:click="changeRoute('home')">
                    <span>হোম</span>
                </div>
            </div>
            <div class="mobile-bottom-nav__item"
                v-bind:class="{ 'mobile-bottom-nav__item--active': (activeRoute == 'allduah') }">
                <div class="mobile-bottom-nav__item-content" v-on:click="changeRoute('allduah')">
                    <!-- নিয়ম -->
                    দোয়াসমুহ
                </div>
            </div>
            <!-- <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    আমরা
                </div>
            </div> -->
        </nav>
        <!-- sidenav  menu -->
        <div id="mySidenav" class="sidenav-custom">
            <a href="javascript:void(0)" class="closebtn text-menu" v-on:click="closeSideNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <!-- Home template -->
    <script type="text/x-template" id="home-template">
        <div>
            <!-- previous next button container -->
            <div class="data-navigator">
                <div class="row nav-container">
                    <div class="col s4 left">
                        <a class="waves-effect waves-light btn" v-if="currentRojaIndex"
                            v-on:click="prev">পুর্ববর্তি</a>
                    </div>
                    <div class="col s4 center">
                        <a class="waves-effect waves-light btn " v-on:click="reset">রিসেট</a>
                    </div>
                    <div class="col right">
                        <a class="waves-effect waves-light btn" v-if="currentRojaIndex < 29"
                            v-on:click="next">পরবর্তি</a>
                    </div>
                </div>
            </div>
            <!-- <div class="video-container">
                <iframe src="https://www.youtube.com/embed/7K5ctw-YhQo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> -->
            <div class="row vertically-center">
                <div>
                    <p>
                        <span class="card-title">{{number[currentRojaIndex+1]}} তম রমজান</span>
                    </p>
                    <p>
                        <span class="card-title">তারিখ : {{number[schedule[currentRojaIndex].date]}}
                            {{month[schedule[currentRojaIndex].month]}}</span>
                    </p>
                    <p><span class="card-title">দিন : {{days[schedule[currentRojaIndex].day]}}</span></p>
                    <p><span class="card-title">সেহেরি : {{number[schedule[currentRojaIndex].sehri_time1]}}
                            :
                            {{number[schedule[currentRojaIndex].sehri_time2]}}
                            মিনিট</span></p>
                    <p><span class="card-title">ইফতার : {{number[schedule[currentRojaIndex].iftar_time1]}} :
                            {{number[schedule[currentRojaIndex].iftar_time2]}}
                            মিনিট</span></p>
                </div>
            </div>
        </div>
    </script>
    <!-- Tarabih template -->
    <script type="text/x-template" id="tarabih-template">
        <div class="rules-container">
            <div class="row vertically-center">
                <h3>তারাবিহ নামাজের নিয়ত</h3>
                <p>نويت ان اصلى لله تعالى ركعتى صلوة التراويح سنة رسول الله تعالى متوجها الى جهة الكعبة الشريفة >الله اكبر.</p>
                
                <p>বাংলা উচ্চারণ: নাওয়াইতু আন উসালি­য়া ল্লিলাহি তাআ’লা, রাকাআ’তাই সালাতিত তারাবিহ সুন্নাতু রাসুল্লিলাহি তাআ’লা। মুতাওয়াযজ্জিহান ইলা যিহাতিল কা’বাতিশ শারিফাতি, আল্লাহু আকবার। তবে যদি তারাবি জামাআ’তের সহিত নামাজ হয় তবে- ইক্বতাদাইতু বি হাজাল ইমাম বলতে হবে।</p>
                
                <p>Meaning: I am devoted to praying two rak’ahs, Tarabih Sunnat, and Allah Almighty.</p>
                <hr>
                <h3>তারাবিহ নামাজের চার রাকাআ’ত পরপর দোয়া</h3>
                <p>سبحان ذى الملك والملكوت سبحان ذى العزة والعظمة والهيبة والقدرة والكبرياء والجبروت . سبحان الملك الحى الذى لاينام ولا يموت ابدا ابدا سبوح قدوس ربنا ورب الملئكة والروح.</p>
                <p>বাংলা উচ্চারণ: সুব্হানাযিল মুলকি ওয়াল মালাকুতি, সুব্হানাযিল ইয্যাতি, ওয়াল আয্মাতি, ওয়াল হাইবাতি, ওয়াল কুদরাতি, ওয়াল কিবরিয়াই, ওয়াল যাবারুত। সুব্হানাল মালিকিল হাইয়্যিল্লাজি লা-ইয়াানামু ওয়ালা ইয়ামুতু আবাদান আবাদা। সুব্বুহুন কুদ্দুছুন রাব্বুনা ওয়া রাব্বুল মালাইকাতি ওয়ার রূহ।</p>
                <hr>
                <h3>তারাবিহ নামাজের মোনাজাত:</h3>
                <p>বাংলা উচ্চারণ: আল্লাহুম্মা ইন্না নাসআলুকা জান্নাতা ওয়া নাউ’জুবিকা মিনান্নারী, ইয়া খালিকাল জান্নাতা ওয়ান্নারী, বিরহতিকা ইয়া আজিজু, ইয়া গাফ্ফারু, ইয়া কারীমু, ইয়া সাত্তারু, ইয়া রাহীমু, ইয়া জাব্বারু, ইয়া খালিকু, ইয়া বার্র। আল্লাহুম্মা আযিরনা মিনান্নার; ইয়া মুযিরু, ইয়া মুযিরু, ইয়া মুযির। বিরহমাতিকা ইয়া আর হামার রাহিমি।</p>
            </div>
        </div>
    </script>
    <!-- All Duah template -->
    <script type="text/x-template" id="all-duah-template">
        <div class="all-doah-container">
            <div class="single-doah-container">
                কালেমা
            </div>
            <div class="single-doah-container">
                আয়াতুল কুরসি
            </div>
            <div class="single-doah-container">
                অন্যান্য
            </div>
        </div>
    </script>
</body>
<script src="./js/vue.js"></script>
<script src="./js/components/home.component.js"></script>
<script src="./js/components/tarabih.component.js"></script>
<script src="./js/components/doas.component.js"></script>
<script src="./js/project-js.js"></script>
<script></script>

</html>