<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>২০২০ রোজার সময়সুচিতে স্বাগতম</title>
    <script type=" text/javascript" charset="utf-8" src="cordova.js"></script>
    <link rel="stylesheet" href="./css/material.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class=" blue-grey darken-1">
    <div id="app">
        <!-- top navigation bar -->
        <nav>
            <div class="nav-wrapper">
                <div class="center">
                    <span class="text-bold">২০২০ রোজার সময়সুচিতে স্বাগতম</span>
                </div>
            </div>
        </nav>
        <!-- information container -->
        <div class="main-container">
            <div class="info-container center info-font white-text">
                <div class="container position-relative">
                    <div class="row vertically-center">
                        <p>
                            <span class="card-title">{{number[currentRojaIndex+1]}} তম রমজান</span>
                        </p>
                        <p>
                            <span class="card-title">তারিখ : {{number[schedule[currentRojaIndex].date]}}
                                {{month[schedule[currentRojaIndex].month]}}</span>
                        </p>
                        <p><span class="card-title">দিন : {{days[schedule[currentRojaIndex].day]}}</span></p>
                        <p><span class="card-title">সেহেরি : {{number[schedule[currentRojaIndex].sehri_time1]}} :
                                {{number[schedule[currentRojaIndex].sehri_time2]}}
                                মিনিট</span></p>
                        <p><span class="card-title">ইফতার : {{number[schedule[currentRojaIndex].iftar_time1]}} :
                                {{number[schedule[currentRojaIndex].iftar_time2]}}
                                মিনিট</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- previous next button container -->
        <div style="position: absolute;top: 50px;width: 100%;">
            <div class="row nav-container">
                <div class="col s4 left">
                    <a class="waves-effect waves-light btn" v-if="currentRojaIndex" v-on:click="prev">পুর্ববর্তি</a>
                </div>
                <div class="col s4 center">
                    <a class="waves-effect waves-light btn " v-on:click="reset">রিসেট</a>
                </div>
                <div class="right">
                    <a class="waves-effect waves-light btn" v-if="currentRojaIndex < 29" v-on:click="next">পরবর্তি</a>
                </div>
            </div>
        </div>
        <!-- bottom navigarion bar -->
        <nav class="mobile-bottom-nav">
            <div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
                <div class="mobile-bottom-nav__item-content">
                    <!-- <i class="material-icons">home</i>  -->
                    হোম
                </div>
            </div>
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <!-- <i class="material-icons">mail</i>  -->
                    নিয়ম
                </div>
            </div>
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <!-- <i class="material-icons">person</i>  -->
                    আমরা
                </div>
            </div>
        </nav>
    </div>
</body>
<script src="./js/materialize.js"></script>
<script src="js/vue.js"></script>
<script src="js/project-js.js"></script>
<script>
</script>

</html>